<br>
<div class="row">
  <div class="col col s12">
    <%- if controller_name != 'sessions' %>
      <%= link_to "Log in", new_session_path(resource_name),  class: "btn waves-effect light-blue center" %><br />
    <% end -%>
  </div>
</div>
<br>
<div class="row">
  <div class="col col s12">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Sign up", new_registration_path(resource_name),  class: "btn waves-effect light-blue center"%><br />
    <% end -%>
  </div>
</div>
